{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <div class="panel panel-default">
            <div class="panel-heading">Name: {{ item.name }}</div>
            <div class="panel-heading">Added by: {{ item.ownerUsername }} ({{ item.getOwnerName() }})</div>
            <div class="panel-heading">Added on {{ addedDate }}</div>
            <div class="panel-body">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="panel-default text-center">{{ item.description }}</div>
            <div class="panel divider"></div>
            <div class="panel-default text-center">Price: {{ item.price }} BGN</div>
            <div class="panel-footer">
                {% if app.user and item.ownerName == app.user.getFullName() %}
                    <a class="btn btn-warning" href="{{ path('item_edit', {'id': item.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('item_delete', {'id': item.id}) }}">Delete</a>
                    {% elseif app.user %}
                        <a class="btn btn-success" href="#">Buy</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

