<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Web Store{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('categories') }}">Categories</a></li>
                    <li><a href="#">Deals</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"> Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if app.user %}
                                <li class="list-group-item list-group-item-danger">{{ app.user.getFullName() }}</li>
                                <li class="list-group-item list-group-item-success">Money: {{ app.session.get('myMoney') }}</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('my_profile') }}"></span>Account</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('user_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('security_login') }}">Login</a></li>
                                <li><a href="{{ path('user_register') }}">Register</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"> Cart <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if app.user %}
                                <li><a href="{{ path('index') }}">View Cart</a></li>
                                <li><a href="{{ path('get_money') }}">Get money</a></li>
                            {% else %}
                                <li><a href="{{ path('security_login') }}">Login to trade</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search product">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
