{% extends 'base.html.twig' %}

{% block body %}
    <div class="container center-block text-center">
        <h1>My cart:</h1>
        {% if app.session.get('cart')|length > 0 %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in app.session.get('cart') %}
                    <tr>
                        <td style="font-size: x-large">
                            {{ item['name'] }}
                        </td>
                        <td>
                            {{ item['price'] }}
                        </td>
                        <td>
                            <a href="{{ path('cart_item_decrease', {'id': item['id']}) }}">
                                <button class="btn btn-warning">-</button>
                            </a>
                            {{ item['amount'] }}
                            <a href="{{ path('cart_item_increase', {'id': item['id']}) }}">
                                <button class="btn btn-warning">+</button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('item_view', {'id': item['id'] }) }}">
                                <button class="btn btn-primary">View</button>
                            </a>
                            <a href="{{ path('cart_item_remove', {'id': item['id']}) }}">
                                <button class="btn btn-danger">Remove</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-left" colspan="4" style="font-size: x-large">
                        <p class="text-center">Total: {{ totalCost }}BGN</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <a href="{{ path('cart_checkout') }}">
                    <button class="btn btn-success">
                        Checkout
                    </button>
                </a>
                <a href="{{ path('cart_empty') }}">
                    <button class="btn btn-danger">CLEAR</button>
                </a>
            </div>
        {% else %}
            <h1>You cart is empty</h1>
        {% endif %}
    </div>
{% endblock %}

