{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">All items:</h1>
        <div class="row">
                {% if items|length > 0 %}
                    {% for item in items %}
                        <div class="col col-xs-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center">{{ item.name }}</div>
                                <div class="panel-default text-center">Left in stock: {{ item.getQuantity() }}</div>
                                <div class="panel-body" style="height: 200px">
                                    <img src="{{ asset(item.imagePath) }}" class="img-responsive"
                                         style="margin: 0 auto; height: inherit; max-height: 200px" alt="Image"></div>
                                <hr>
                                <div class="panel-default text-center"><p>{{ item.price }} BGN</p></div>
                                <div class="panel-footer"><a class="btn btn-primary center-block"
                                                             href="{{ path('item_view', {'id': item.id}) }}">View</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <h1>There are no items on the server</h1>
                    </div>
                {% endif %}
            </div>
    </div>
{% endblock %}