{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{ category.name }}</h1>
    <div class="row">
        {% if categoryItems|length > 0 %}
            {% for item in categoryItems%}
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">{{ item.name }}</div>
                        <div class="panel-default text-center">{{ item.ownerUsername }} ({{ item.getOwnerName() }})
                        </div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                     style="width:100%" alt="Image"></div>
                        <div class="panel-default text-center">{{ item.price }} BGN</div>
                        <div class="panel-footer"><a class="btn btn-primary center-block" href="#">View</a></div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">
                <h1>There are no items in thiscategory</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}

